#sidebar {
    width: 260px;

    padding: 10px;
    /* animation: showSideBar 0.4s ease 0s 1 normal forwards; */

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#sidebar.active {
    width: 70px;
    animation: hideSideBar 0.4s ease 0s 1 normal forwards;
}

@keyframes showSideBar {

    0% {
        width: 70px;
    }

    100% {
        width: 260px;
    }
}

@keyframes hideSideBar {

    0% {
        width: 260px;
    }

    100% {
        width: 70px;


    }
}


#sidebar .show {
    display: block;
}

#sidebar .hide {
    display: none;
}

#sidebar.active .show {
    display: none;
}

#sidebar.active .hide {
    display: block;

}

#sidebar .sidebar-header {
    position: relative;
    text-align: center;
    border-bottom: solid purple 2px;
    height: 70px;
    margin-bottom: 20px;
}

#sidebar .sidebar-header img {
    width: 100%;
}

#sidebar.active .sidebar-header img {
    width: 40px;
    height: auto;
}

#sidebar .sidebar-header .btn {
    position: absolute;
    right: -33px;
    top: 9px;
    cursor: pointer;
}

#sidebar .sidebar-header .btn svg {
    font-size: 20px;
}

.sidebar-item-list {
    position: relative;
}

.sidebar-item-list.active .sidebar-item-list-title {
    color: red;
}

.sidebar-item-list .sidebar-item-list-content {
    display: none;
}

.sidebar-item-list.active .sidebar-item-list-content {
    display: block;
}

#sidebar.active .sidebar-item-list-content {
    position: absolute;
    min-width: 200px;
    left: 59px;
    border: solid 2px #333;
    top: -5px;
    background-color: #333;
}